#workplay {
  position: relative;
}

.left {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $lightPurple;
  padding: 0.875rem;
}

#border {
  border: 3px solid $blueGreen;
  border-radius: 3px;
  height: 100%;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.left h1 {
  font-family: $font-fam-3;
  text-align: center;
}

.left p {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 1rem auto 1.5rem auto;
  font-size: $font-sm;
  font-style: italic;
  color: $darkGray;
}

.right {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $blueGreen;
  overflow: scroll;
  padding: 0 3.5rem 0 3.5rem;
}

iframe {
  width: 80%;
  height: 40%;
  margin: 2rem 0 0 0;
}

.content {
  padding: 3rem 0 1rem 0;
  text-align: left;
  color: $lightPurple;
}

.content h5 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: $font-fam-3;
}

.message {
  font-family: $font-fam-4;
  font-size: $font-sm;
}

// Gallery
.gallery h5 {
  font-family: $font-fam-1;
}

.row-gal {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column-gal {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column-gal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

// /* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column-gal {
//     -ms-flex: 50%;
//     flex: 50%;
//     max-width: 50%;
//   }
// }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-gal {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
