#workplay {
  position: relative;
}

.left {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $lightPurple;
  padding: 0.875rem;
}

#border {
  border: 3px solid $blueGreen;
  border-radius: 3px;
  height: 100%;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.left h1 {
  font-family: $font-fam-3;
  text-align: center;
}

.left p {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 1rem auto 1.5rem auto;
  font-size: $font-sm;
  font-style: italic;
  color: $darkGray;
}

.right {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $blueGreen;
  overflow: scroll;
}

.content {
  padding: 3rem 3.5rem 1rem 3.5rem;
  text-align: left;
  color: $lightPurple;
}

.content h5 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: $font-fam-3;
}

.message {
  font-family: $font-fam-4;
  font-size: $font-sm;
}

// Poll (voting)
.vote {
 margin-top: 1rem;
}

.vote button {
  background-color: $lightPurple;
  border: 1.5px solid $purple;
  border-radius: 1px;
  padding: 0.175rem 0.375rem;
  margin: 0.275rem;
  box-shadow: 2px 2px 1px $lightPurple;
}

.vote h6 {
  font-family: $font-fam-4;
  font-size: $font-sm;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100vh;
}

canvas {
  margin-top: 0.5rem;
}

// Gallery
.gallery h5 {
  font-family: $font-fam-1;
}

.row-gal {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column-gal {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column-gal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

// /* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column-gal {
//     -ms-flex: 50%;
//     flex: 50%;
//     max-width: 50%;
//   }
// }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-gal {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
