<!-- <h5>first, a message from me...</h5> -->
<div class="message">
  <p><i>always working in progress... :)</i>
  <!-- <p>Hi, it's me Carine. <br><br> I'm 18 and from Malaysia but I'm currently based in the UK. <br><br> I made this website because I'm spending my long summer in Edinburgh and thought what else better to do than to enjoy my time here while also work on something new. <br><br> I'd propably show some projects here in the future but I'll leave that for next time.  -->
  <br>ps. thanks for being here, i really appreciate it. &nbsp x</p>
  
  <p> Developed - <a href="https://preciousamberinternational.holdings/">preciousamberinternational </a> during summer of 2021.</p>
</div>