<!-- Side navigation -->
<div class="sidenav">
  <a class="fa fa-instagram" id="ig" href="https://www.instagram.com/carinerinring/" target="_blank"></a>
  <a class="fa fa-facebook-official" id="fb" href="https://www.facebook.com/carinerinring/" target="_blank"></a>
  <a class="fa fa-snapchat-ghost" id="sc" href="https://www.snapchat.com/add/carinel2o?share_id=N0IxMzk4&locale=en_GB" target="_blank"></a>
  <a class="fa fa-youtube-play" id="yt" href="https://www.youtube.com/channel/UCIXWm1rcrp2EdiSg0fcrrkw" target="_blank"></a>
</div>

<section id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Hi, I'm Carine!</h1>
      <h2>Welcome to my space.</h2>
      <%- include('./partials/nav.ejs') %> 
    </div>
  </div>
</section>

<section id="workplay">
  <div class="container">
    <div class="row">
      <div class="col-5 left">
        <div id="border">
          <div id="center">
            <h1>Life</h1>
            <%- include('./partials/nav.ejs') %> 
          </div>
          <p>my projects and the fun stuff</p>
        </div>
      </div>
      <div class="col-sm-7 right">
        <iframe src="https://www.youtube.com/embed/xopr0vYflzk"></iframe> 
        <div id="mobile-back">
          <div class="content">
            <%- include('./partials/message.ejs') %> 
            <div class="gallery">
              <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseGallery" aria-expanded="false" aria-controls="collapseGallery">View Gallery</a>
              <div class="collapse" id="collapseGallery">
                <%- include('./partials/gallery.ejs') %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact-form -->
<section class="contact-form" id="contact">
  <div class="cover">
    <div class="text-center">
      <h1>Say hi!</h1>
    </div>
    <div class="container">
      <form action="https://formspree.io/f/xpzkoopl" method="POST" enctype="multipart/form-data" id="my-form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="First Name" required>
        </div>
        <div class="form-group">
          <label for="latsName">Last Name</label>
          <input type="text" name="Last Name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="Email" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="Message" id="message" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>

    <div id="status"></div>

    <!-- copyright -->
    <div class="copyright">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Carine
    </div>
  </div>
</section>